body {
  display: block;
}
.box1 {
  background-color: #00bcd4;
  height: 625px;
  width: 33%;
  float: left;
}

.box2 {
  background-color: #8bc34a;
  height: 625px;
  width: 33%;
  float: left;
}

.box3 {
  background-color: #f3e56f;
  height: 625px;
  width: 33%;
  float: left;
}

.imageplaceholder {
  font-family: sans-serif;
}

.box {
  height: 75;
  width: 100%;
  background-color: red;
}
