body {
  margin: 0px;

}
.box1 {
  background-color: #00bcd4;
  height: 625px;
  width: 33%;
  float: left;
}

.box2 {
  background-color: #8bc34a;
  height: 625px;
  width: 33%;
  float: left;
}

.box3 {
  background-color: #f3e56f;
  height: 625px;
  width: 33%;
  float: left;
  position: relative;
}

.box4 {
  height: 75px;
  width: 100%;
  position: absolute;
  background-color: red;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
